<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!--<form method="post" action="/auth_old/">-->
        <!--<h3>Enter email or number</h3>-->
        <!--<input type="text" name="email">-->
        <!--<h3>Enter password</h3>-->
        <!--<input type="text" name="password">-->
        <!--<button type="submit">Sumbit</button>-->
    <!--</form>-->
    <!--{% if error %}-->
        <!--{{ error }}-->
    <!--{% endif %}-->
    <input type="text" name="post_m" id="post_message">
    <a href="#" onclick="vkpost()">Post</a>

    <script type="text/javascript" src="//vk.com/js/api/openapi.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript">
        VK.init({apiId: 5128481});

        function vkpost() {
            var message = $('#post_message').val();
            VK.api('wall.post', {message: message}, function (data) {
            });
        }
    </script>
</body>
</html>